.edit-form-container {
    max-width: 500px;
    margin: 150px auto;
    padding: 20px;
    background-color: rgba(18, 18, 18, 0.9);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
    margin-bottom: 20px;
}
.edit-form-container h2 {
    font-family: 'Century Gothic', cursive;
    color: #ff4444;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}
.edit-form-container label {
    font-weight: bold;
    color: #ffffff;
}
.edit-form-container input[type="text"],
.edit-form-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ff4444;
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffffff;
}
.edit-form-container input[type="submit"] {
    background-color: #333;
    color: #ff4444;
    font-size: 18px;
    transition: background-color 0.3s ease;
}
.edit-form-container input[type="submit"]:hover {
    background-color: #555;
}
.back-button {
    text-align: center;
    margin-top: 10px;
    color: #ff4444;
}