.image-container {
    position: relative;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-container:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6); 
}

.image-title {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Creepster', cursive;
    color: #ff0000; 
    font-size: 1.2em;
    text-shadow: 1px 1px 5px #000; 
    margin-bottom: 10px;
}

.row .col-md-4 {
    display: flex;
    justify-content: center;
}

.analytics {
    display: flex;
    justify-content: center;
    text-align: center;
    bottom: 30px;
}

h1 {
    text-align: center;
    font-family: 'Creepster', cursive;
    color: #ff0000; 
    font-size: 4em;
    text-shadow: 2px 2px 8px #000000;
    margin-top: -50px;
    padding: 10px;
    letter-spacing: 2px;
}

img {
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.05);
}
